:root {
    /* Primary */
    --color-bright-orange: hsl(31, 77%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral */
    --color-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-very-light-gray: hsl(0, 0%, 95%);

    /* Typography */
    --font-size-body: 15px;
    --font-weight-body: 400;
    --font-weight-heading: 700;
}

.lexend-deca-body {
    font-family: "Lexend Deca", sans-serif;
    font-weight: var(--font-family-body);
    font-size: var(--font-size-body);
}

.big-shoulders-head {
    font-family: "Big Shoulders", sans-serif;
    font-weight: var(--font-weight-heading);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-very-light-gray);
}

.main-container {
    display: flex;
    margin: 5%;
    border-radius: 20px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-sedan {
    background-color: var(--color-bright-orange);
}

.column-sedan a {
    color: var(--color-bright-orange);
}

.column-suv {
    background-color: var(--color-dark-cyan);
}

.column-suv a {
    color: var(--color-dark-cyan);
}

.column-luxury {
    background-color: var(--color-very-dark-cyan);
}

.column-luxury a {
    color: var(--color-very-dark-cyan);
}

section {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: space-between;
    padding: 5%;
    height: 80svh;
    width: 30svw;
}

main {
    border-radius: 8px;
}

p {
    color: var(--color-transparent-white);
    margin-bottom: 20%;
    line-height: 1.5rem;
}

button {
    height: 6svh;
    border: 0 solid transparent;
    border-radius: 30px;
    width: 9svw;
    background-color: var(--color-very-light-gray);
    box-shadow: 2em;
}
